<html>
    <head>
        <meta charset="utf-8">
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="style.css">
        <title>Find My Lunch</title>
    </head>
    <body ng-app="jsCodingTest">
        <main ng-controller="GiveTheGovernmentABurrito">
            <div class="find-my-lunch-form">
                <form>
                    <h1>Find My Lunch</h1>
                    <div class="form-group form-group-lg lunch-form">
                        <label class="sr-only" for="findMyLunch"></label>
                        <input type="text" ng-model="searchTerm" ng-change="doSearch()" ng-model-options="{ updateOn: 'default blur', debounce: {'default':500, 'blur': 0 } }" class="form-control find-my-lunch" id="findMyLunch" placeholder="What are you looking for?">
                        <button type="submit" ng-click="doSearch()" class="btn btn-success btn-lg btn-block get-lunch-btn">Go!</button>
                    </div>
                </form>
            </div>

            <div class="searched-for" ng-show="searchTerm">{{ searchResult.length }} results for {{ searchTerm }}</div>
            <div class="row" ng-show="searchTerm">
                <ul class="list-group food-list">
                    <li ng-repeat="item in searchResult">
                        <div class="col-md-4 text-center">
                            <img class="food-img img-rounded center-cropped" ng-src="{{ item.images[0].medium }}">
                            <h4>{{ item.name | limitTo: 35 }}{{ item.name.length > 35 ? "..." : "" }}</h4>
                            <h5>{{ item.vendor.name }}</h5>
                            <h5>{{ item.totalGrossFoodCost | currency:"£" }}</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <!-- Assumption: the app is just returning the results - there is no further functionality, ie. a user can not click on an image to see anymore information -->
        <!-- Assumption: I truncated the names of food items longer than 35 chars -->
        <script src="lib/angular.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="lib-integration.js"></script>
        <script src="node_modules/citypantry-js-lib/dist/lib-es5-with-browser-polyfill.js"></script>
        <script src="your-code.js"></script>
    </body>
</html>
