<html>
    <head>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="style.css">
        <title>Find My Lunch</title>
    </head>
    <body ng-app="jsCodingTest">
        <main ng-controller="GiveTheGovernmentABurrito">
            <div class="find-my-lunch-form">
                <form>
                    <h1>Find My Lunch</h1>
                    <div class="form-group form-group-lg lunch-form">
                        <label class="sr-only" for="findMyLunch"></label>
                        <input type="text" ng-model="searchTerm" class="form-control find-my-lunch" id="    findMyLunch" placeholder="What are you looking for?">
                        <button type="submit" ng-click="doSearch()" class="btn btn-success btn-lg btn-block get-lunch-btn">Go!</button>
                    </div>
                </form>
                <p class="searched_for" ng-show="searchTerm">Search results for {{ searchTerm }}</p>
            </div>

            <div class="row">
                <ul class="list-group food-list">
                    <li ng-repeat="item in searchResult">
                        <div class="col-md-4 text-center">
                            <h4>{{ item.name }}</h4>
                            <img class="food-img img-rounded" ng-src="{{ item.images[0].medium }}">
                            <h5>{{ item.vendor.name }}</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </main>

        <script src="lib/angular.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="lib-integration.js"></script>
        <script src="node_modules/citypantry-js-lib/dist/lib-es5-with-browser-polyfill.js"></script>
        <script src="your-code.js"></script>
    </body>
</html>
