* {
  font-family: 'Oxygen', sans-serif;
}

.find-my-lunch-form {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.lunch-form {
  margin: 50px auto;
  max-width: 500px;
}

.find-my-lunch {
  max-width: 500px;
  margin-bottom: 30px;
}

.get-lunch-btn {
  margin: 0 auto;
}

.searched-for {
  padding-left: 20px;
}

.food-list {
  padding: 20px;
  list-style-type: none;
}

.center-cropped {
  object-fit: none; /* Do not scale the image */
  object-position: center;
  height: 300px;
  width: 300px;
}